<!-- TIMELINE SECTION -->
<section id="timeline" name="timeline"></section>
<div id="timelinewrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8-offset-2 centered">
        <h1>A BRIEF HISTORY</h1>
        <h3>Of Craig &amp; Nicole</h3>
      </div><!-- /col-lg-8 -->
    </div><!--/row -->

    <div class="row">
      <div class="col-sm-12">
      <% if user_signed_in? %>
        <a href="/stories/new" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_story" >
          New
        </a>
      <% end %>
      </div>
    </div>
    <div class="container-fluid timeline-container">
      <div class="page-header">
        <h1 id="timeline">Timeline</h1>
      </div>
      <ul class="timeline">
      <% @stories.each do |story| %>
        <li>
          <div class="timeline-badge"><i class="icon icon-<%= story.icon %>"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= story.title %></h4>
              <p>
                <% if user_signed_in? %>
                  <%= link_to 'Edit', edit_story_path(story), class: 'btn btn-primary btn-xs', :data => {:toggle => 'modal', :target => "#modal_form_edit_story-#{story.id}"} %>
                  <%= link_to 'Delete', story, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %>
                <% end %>
              </p>
              <p><small class="text-muted"><%= fa_icon "clock-o" %> <%= story.time %></small></p>
            </div>
            <div class="timeline-body">
              <!-- <p class="rest-in-place" data-url="/story/<%= story.id %>" data-formtype="textarea" data-object="story" data-attribute="content"> -->
              <p>
                <%= story.content.html_safe %>
              </p>
            </div>
          </div>
        </li>
        <div class="modal fade" id="modal_form_edit_story-<%= story.id %>" tabindex="-1" role="dialog" aria-labelledby="edit_story_label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="edit_story_label">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="new_story" tabindex="-1" role="dialog" aria-labelledby="new_story_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="new_story_label">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>