<!DOCTYPE html>
<html>
<head>
  <title>WeddingRedesign</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body data-spy="scroll" data-offset="0" data-target="#theMenu">

<%= render 'shared/menu' %>

<%= yield %>

<%= yield :maps %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
