<!DOCTYPE html>
<html>
<head>
  <title>Craig &amp; Nicole</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:100,400,300,700|Lato:100,400,700|Bitter:400,700">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'deb' %>
  <%= javascript_include_tag 'modernizr' %>
  <%= csrf_meta_tags %>
</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

<%= yield %>

<%= render 'shared/navbar' %>

<%= yield :maps %>
<%= javascript_include_tag 'application' %>

</body>
</html>